.input {
  width: 97%;
  height: 55px;
  background-color: transparent;
  outline: none;
  border: 1px solid #bbb;
  padding-left: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #fff;
}
