.TouchSection {
  background-image: linear-gradient(90deg, #101826, #467571);
  padding: 115px 0;
}
.TouchSection h2 {
  color: #fff;
  padding: 15px 0;
}
.textarea {
  height: 160px;
  outline: none;
  width: 97%;
  border-radius: 30px;
  padding: 15px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #bbb;
}
.contactImg {
  width: 80%;
  animation-name: contact;
  position: relative;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes contact {
  0% {
    transform: translateY(-2%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(-2%);
  }
}
