.flex {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.text-light {
  margin: 0 15px;
  text-decoration: none;
}
h1 {
  color: #fff;
}
.connects {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  background-color: #5ec4c4;
  border: none;
}
.connects:hover {
  background-color: antiquewhite;
  transform: scale(1.1);
}
