.main {
  margin-top: 0;
  padding: 90px 0;
  background-color: #101826;
}
.main .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgb(170, 54, 124, 0.5),
    rgba(74, 47, 189, 0.5)
  );
  border: 1px solid #ffe1e180;
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
  display: inline-block;
}
.main h1 {
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  display: block;
}
.main p {
  color: #bbb;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  width: 96%;
}
.main button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 40px;
  letter-spacing: 0.8px;
}
.main button svg {
  font-size: 25px;
  letter-spacing: 0.8px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.main button:hover svg {
  margin-left: 25px;
}
.main img {
  animation-name: girl;
  position: relative;
  width: 400px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.main .Contanierimg {
  align-items: start;
  justify-content: right;
  display: flex;
}
@keyframes girl {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.title1 {
  animation-name: moveRight;
  animation-duration: 0.7s;
  color: #5abeb6;
}
.titleTwo {
  animation-name: moveLeft;
  color: #5abeb6;
  animation-duration: 1s;
}
.titleThree {
  animation-name: moveRight;
  color: #5abeb6;
  animation-duration: 1.3s;
}
.text {
  font-size: 39px;
  color: #5abeb6;
  font-weight: 700;
  margin-bottom: 20px;
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
